#home-main{
    width:100%;
    min-height:100vh;
    padding:2%;
}

#home-main-list{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.home-article-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    margin-top: 1%;
    border: 1px solid #CBCBCB;
}

.home-article-content:hover:not(.nothover){
    box-shadow: 3px 3px 21px 2px rgba(0,0,0,0.4);
}

.home-article-date{
    font-style: italic;
    align-self: flex-end;
    text-align: right;
    padding-left: 2%;
    width: 15%;
}

.home-article-title{
    width: 80%;
    padding-left: 2%;
    white-space: break-spaces;
    overflow: hidden;
}

.home-article-figure{
    max-width: 5%;
    max-height: 5%;
    text-align: center;
}

.home-article-img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: white;
}

.home-article-container{
    width: 100%;
}

.delete-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.delete:hover:not(.nothover){
    cursor: pointer;
    color:red;
}

.delete{
    z-index: 1;
}