#home-main{
    width:100%;
    min-height:100vh;
    padding:2%;
}

#home-main-list{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.home-article-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-top: 1%;
    border: 1px solid #CBCBCB;
}

.home-article-content:hover{
    box-shadow: 3px 3px 21px 2px rgba(0,0,0,0.4);
}

.home-article-date{
    font-style: italic;
    align-self: flex-end;
    padding-left: 2%;
}

.home-article-title{
    padding-left: 2%;
}

.home-article-img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
}

.create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
