*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    min-height: 100vh;
}

.hidden{
    display: none;
}

.new{
    animation-name: new;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
}

@keyframes new {
    from {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    }
    to{
        box-shadow: 0px 0px 29px 0px rgba(255,0,0,0.9);

    }
}