#single-main{
    width:100%;
    height:100%;
    padding:2%;
}

#single-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    margin-top: 1%;
}

.single-title{
    width:100%;
    text-align: center;
    box-shadow: 0px 12px 2px 2px rgba(0, 0, 255, .2);
    margin-bottom: 2%;
}

#single-article{
    padding: 1%;
    border: 1px solid black;
    width:100%;
}

#single-article-user{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

#single-article-user-name{
    align-self: flex-end;
}

#single-article-user-name:after{
    content: ":";
}

#single-article-user-img{
    width: 70px;
}

#comment{
    width:100%;
    height:100%;
    padding:1%;
}

.comment-user-img{
    width: 70px;
}

.comment-single{
    border:1px solid black;
    padding:1%;
}

.comment-user{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.comment-user-name{
    align-self: flex-end;
}

.comment-user-name:after{
    content: ":";
}
