#single-main{
    width:100%;
    min-height:100vh;
    padding:2%;
}

#single-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    margin-top: 1%;
}

.single-title{
    width:100%;
    text-align: center;
    box-shadow: 0px 12px 2px 2px rgba(0, 0, 255, .2);
    margin-bottom: 2%;
}

#single-article{
    padding: 1%;
    border: 1px solid darkgrey;
    width:100%;
}

#single-article-user{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

#single-article-user-name{
    align-self: flex-end;
}

#single-article-user-name:after{
    content: ":";
}

#single-article-user-img{
    width: 70px;
}

#single-article-content{
    padding: 2%;
    border: 1px solid darkgrey;
}

#comment{
    width:100%;
    height:100%;
    padding:1%;
}

.comment-user-img{
    width: 70px;
}

.comment-single{
    border:1px solid darkgrey;
    padding:1%;
}

.comment-user{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.comment-user-name{
    align-self: flex-end;
}

.comment-user-name:after{
    content: ":";
}


input , textarea {
    padding: 2%;
    font-size: 16px;
    border-width: 1px;
    width: 100%;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
    resize: none;
}

textarea {
    outline:none;
}

input[type=submit]:hover{
    cursor: pointer;
}
